
body {
    background-color: #f2f2f2;
}

div.flex {
    display: flex;
    background-color: #f2f2f2;
}

div.container {
    width: 45rem;
    padding: 2rem;
}

div.container.forms {
    position: fixed;
    top: 50px;
    left: 50rem;
    background-color: #707070;
    color: #ffffff;
    align-self: start;
    border-radius: 10px;
}

div.container.text > p::selection {
    background-color: #58d691;
}

p {
    white-space: pre-wrap;
}

#contents h3 {
    background-color: #323232;
    color: #ffffff;
    padding: 5px;
}

#contents .scenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contents .scene {
    background-color: #c64646;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

#contents .scene:hover {
    background-color: #5a5151;
}

a {
    color: #ffffff;
    text-decoration: none;
}

select {
    padding: 5px;
    background-color: #f2f2f2;
}

select option:disabled {
    display: none;
}

#form {
    margin-top: 15px;
}

#form label {
    padding: 5px;
}

#form input {
    padding: 5px;
}
