:root {
  --ochre: #cc7722;
  --black: #000000;
  --grey: #E3DFF2;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid var(--black);
  font-weight: 700;
  width: 8rem;
  text-decoration: none;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.button:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 0px 0px var(--black)
}

.small {
  width: unset;
  padding: 0.75em 1em;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

.shadowed {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);

  border: 2px solid var(--black);
  border-radius: 4px;
  padding: 2em;
}

.ochre {
  background-color: var(--ochre);
  color: var(--black);
}

.grey {
  background-color: var(--grey);
  color: var(--black);
}

.input {
  padding: 0.5em 0.75em 0.5em 0.75em;
  border: 2px solid var(--black);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.padding-y {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.padding-x {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.space-below {
  margin-bottom: 0.75em;
}

.text-wrap {
  white-space: pre-wrap;
}

.heading {
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.clickable {
  cursor: pointer;
}

.scene-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

.annotation {
  cursor: pointer;
}

.annotation-hf1 {
  background-color: #CE97FB;
}

.annotation-hf2 {
  background-color: #F6A5EB;
}

.annotation-hf3 {
  background-color: #FAA99D;
}

.annotation-hf4 {
  background-color: #FCDF7E;
}

.annotation-hf5 {
  background-color: #98FBE1;
}

.annotation-hf6 {
  background-color: #67EBFA;
}

.annotation-hf7 {
  background-color: #c3fc7e;
}

#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#contents-container {
  max-width: 1440px;
}

#text-container {
  width: 60%;
  max-width: calc(1440px * 0.6);
}

#text-container > p::selection {
  background-color: var(--ochre);
}

#selection-container {
  width: 40%;
  max-width: calc(1440px * 0.4);
}

#selection-container > div {
  position: fixed;
  width: 40%;
  max-width: calc(1440px * 0.4);
}

#scene-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.75rem;
}

#forms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

select option:disabled {
  display: none;
}

.attribute {
  font-weight: 700;
  padding-right: 5px;
}

label {
  font-weight: bold;
}

.radio {
  margin: 5px 0px;
}

.radio label {
  cursor: pointer;
  font-weight: normal;
}

.radio input {
  cursor: pointer;
}

form input {
  margin-top: 3px;
  margin-bottom: 5px;
}

form input:last-of-type {
  margin-bottom: 0.75em;
}

#error {
  background-color: #C70039;
  color: #FFFFFF;
}

.italics {
  font-style: italic;
}